html,
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Paperlogy6';
    font-size: 16px;
}

@font-face {
    font-family: 'Paperlogy6';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy8';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.bga {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
    opacity: 1;
    z-index: -99;
    isolation: isolate;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2rem;
}

.lilpa {
    border: 2px solid aliceblue;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    column-gap: 1.25rem;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.25rem;
    margin-left: auto;
}

header img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 32px;
}

.team {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    align-items: flex-end;
    max-width: 1624px;
    margin: 3.75rem auto 4.5rem auto;
}

.teaminfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 1.75rem;
    width: 480px;
}

.logo {
    position: relative;
    width: 192px;
    height: 192px;
    object-fit: cover;
    border-radius: 8px;
}

.teaminfo h1 {
    font-family: 'Paperlogy8';
    font-size: 4rem;
    color: aliceblue;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

.players {
    display: grid;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(auto, 480px));
    margin: 0;
}

.broad {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 360px;
    background-color: hsla(0, 0%, 50%, 0.8);
    padding: 8px;
    border-radius: 16px;
}

.broad1 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 360px;
    background-color: #fff674cc;
    padding: 8px;
    border-radius: 16px;
}

.broad2 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 360px;
    background-color: #eaffffcc;
    padding: 8px;
    border-radius: 16px;
}

.broad3 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 360px;
    background-color: #fab350cc;
    padding: 8px;
    border-radius: 16px;
}

.thumb-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 202.5px;
}

.refresh {
    width: 360px;
    object-fit: cover;
    border-radius: 16px;
}
.coach {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 480px;
}

.coach .thumb-box {
    width: 480px;
    height: 270px;
}

.details {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    width: 360px;
    height: 48px;
}

.coach .broad .details {
    width: 480px;
}

.profile {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border: #999999 0.5px solid;
    border-radius: 24px;
}

.nick_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nick {
    height: auto;
    /* 높이를 자동으로 설정 (기존 설정으로 돌아감) */
    text-align: left;
    font-family: 'Paperlogy8';
    font-size: 1.25rem;
    font-weight: bold;
    color: #1B1B1B;
    margin: 0;
}

.coach * .title {
    width: 416px;
    text-align: left;
    white-space: nowrap;
    /* 텍스트 줄바꿈 방지 */
    overflow: hidden;
    /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis;
    /* 넘치는 부분에 '...' 표시 */
}

.players * .title {
    width: 296px;
    text-align: left;
    white-space: nowrap;
    /* 텍스트 줄바꿈 방지 */
    overflow: hidden;
    /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis;
    /* 넘치는 부분에 '...' 표시 */
}

/* 링크의 기본 스타일 없애기 */
a {
    color: inherit;
    /* 텍스트 색상 부모로 상속 */
    text-decoration: none;
    /* 밑줄 제거 */
}

/* 클릭한 후 링크 색상 설정 (visited 상태) */
a:visited {
    color: inherit;
    /* 클릭한 후 색상도 부모 색상으로 상속 */
}

.medal {
    position: absolute;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    /* background-color: #1a284c; */
}

h1 {
    font-size: 3.75rem;
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

h2 {
    font-size: 3rem;
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

h3 {
    font-size: 2.25rem;
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

h4 {
    font-size: 1.5rem;
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

h5 {
    font-size: 1.25rem;
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

h6 {
    font-size: 1rem;
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

p {
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

.bttn-say, .bttn-plan, .bttn-error {
    height: 3rem;
    border: 1px solid #1B1B1B;
    border-radius: 4px;
    cursor: pointer;
    background-color: aliceblue;
    padding: 0 2.25rem;
}

.bttn-say h5, .bttn-plan h5, .bttn-error h5 {
    font-family: 'paperlogy8';
    color: #1B1B1B;
}

.bttn-say:hover, .bttn-plan:hover, .bttn-error:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 4px 1px hsla(0, 0%, 40%, 0.5);
}

.bttn-say:active, .bttn-plan:active, .bttn-error:active {
    transform: scale(1);
}

.gotop {
    position: fixed;
    bottom: 1.5rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.hideerror {
    display: none;
    background: hsla(0, 0%, 10%, 0.50);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9998;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: scale(0.5);
    padding: 1.25rem;
    background-color: aliceblue;
    border: 4px solid #3857a5;
    border-radius: 16px;
    box-shadow: 0px 0px 16px 8px hsla(0, 0%, 20%, 0.5);
}

.hideplan {
    display: none;
    background: hsla(0, 0%, 10%, 0.50);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9998;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.plan {
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: scale(0.5);
    padding: 1.25rem;
    background-color: aliceblue;
    border: 4px solid #3857a5;
    border-radius: 16px;
    box-shadow: 0px 0px 16px 8px hsla(0, 0%, 20%, 0.5);
}

.hidecredit {
    display: none;
    background: hsla(0, 0%, 10%, 0.50);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9998;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.credit {
    overflow: auto;
    transform: scale(0.85);
    padding: 36px;
    background-color: aliceblue;
    border: 4px solid #3857a5;
    border-radius: 16px;
    box-shadow: 0px 0px 16px 8px hsla(0, 0%, 20%, 0.5);
}

footer h6 {
    font-family: 'paperlogy6';
    color: aliceblue;
    padding-bottom: 0.5rem;
}